<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwb.mappers.BookDao">

    <resultMap type="Book" id="BookResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="press" column="press"/>
        <result property="pressdate" column="pressdate"/>
        <result property="introduction" column="introduction"/>
        <result property="marketprice" column="marketprice"/>
        <result property="memberprice" column="memberprice"/>
        <result property="volume" column="volume"/>
        <association property="booktype" column="booktype" select="com.mwb.mappers.BookTypeDao.findById"></association>
    </resultMap>
    <select id="find" parameterType="Integer" resultMap="BookResult">
		select * from Book where id=#{id} 
	</select>

    <delete id="delete" parameterType="Integer">
		delete from Book where id=#{id}
	</delete>
    <update id="edit" parameterType="Book">
        update Book
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="booktype.id!=null">
                booktype=#{booktype.id},
            </if>
            <if test="press!=null">
                press=#{press},
            </if>
            <if test="pressdate!=null">
                pressdate=#{pressdate},
            </if>
            <if test="author!=null">
                author=#{author},
            </if>
            <if test="introduction!=null">
                introduction=#{introduction},
            </if>
            <if test="marketprice!=null">
                marketprice=#{marketprice},
            </if>
            <if test="memberprice!=null">
                memberprice=#{memberprice},
            </if>
            <if test="volume!=null">
                volume=#{volume},
            </if>
            <if test="inventory!=null">
                inventory=#{inventory},
            </if>
            <if test="img!=null">
                img=#{img},
            </if>
        </set>
        where id=#{id}
    </update>
    <insert id="add" parameterType="Book">
		insert into Book (name,booktype,press,pressdate,author,introduction,marketprice,memberprice,volume,inventory,img)
		 values(#{name},#{booktype.id},#{press},#{pressdate},#{author},#{introduction},#{marketprice},#{memberprice},#{volume},#{inventory},#{img})
	</insert>

    <select id="findAll" resultMap="BookResult">
        select * from Book ORDER BY  id DESC
    </select>
    <select id="findTypeCount" parameterType="Integer" resultType="Integer">
        select COUNT(id) from Book WHERE booktype=#{typeid}
    </select>
    <select id="findNewLimit" parameterType="Map" resultMap="BookResult">
        select * from Book ORDER BY  id DESC
        <if test="index!=null">
            <if test="size!=null">
                limit  #{index},#{size}
            </if>
        </if>
    </select>
    <select id="findTypeLimit" parameterType="Map" resultMap="BookResult">
        select * from Book
        <if test="booktype!=null">
            WHERE booktype=#{booktype} order by volume desc
        </if>
        <if test="index!=null">
            <if test="size!=null">
                limit  #{index},#{size}
            </if>
        </if>
    </select>
    <select id="findHotLimit" parameterType="Map" resultMap="BookResult">
        select * from Book
            ORDER BY volume DESC
        <if test="index!=null">
            <if test="size!=null">
                limit  #{index},#{size}
            </if>
        </if>
    </select>

</mapper> 