<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwb.mappers.OderDao">
    <resultMap type="Oder" id="OderResult">
        <result property="id" column="id"/>
        <result property="date" column="date"/>
        <result property="num" column="num"/>
        <result property="price" column="price"/>
        <result property="realname" column="realname"/>
        <result property="adress" column="adress"/>
        <result property="tel" column="tel"/>
        <result property="status" column="status"/>
        <association property="user" column="userid" select="com.mwb.mappers.UserDao.find"></association>

    </resultMap>

    <select id="find" parameterType="User" resultMap="OderResult">
		select * from Oder where userid=#{id}
	</select>
    <select id="findById" parameterType="Integer" resultMap="OderResult">
		select * from Oder where id=#{id}
	</select>
    <select id="findNo" resultMap="OderResult">
        select * from Oder where status=0 ORDER BY id DESC
    </select>
    <select id="findOk" resultMap="OderResult">
        select * from Oder where status!=0 ORDER BY id DESC
    </select>
    <delete id="delete" parameterType="Integer">
		delete from Oder where id=#{id}
	</delete>
    <delete id="clearOder" parameterType="User">
		delete from Oder where userid=#{id} AND status!=0
	</delete>
    <update id="send" parameterType="Map">
        update Oder SET status=#{status}
        where id=#{id}
	</update>
    <insert id="add" parameterType="Oder">
		insert into Oder (id,userid,date,num,price,realname,adress,tel)
		 values(#{id},#{user.id},#{date},#{num},#{price},#{realname},#{adress},#{tel})
	</insert>
</mapper> 